[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SWMPrExtension"]
	path = SWMPrExtension
	url = https://github.com/noaa-ocm/swmprextension
